enable
configure terminal
interface GigabitEthernet 0/0/0.20
encapsulation dot1Q 20
ip address 192.168.20.254 255.255.255.0
ip helper-address 192.168.31.3 
no shutdown
exit
interface GigabitEthernet 0/0/0.21
encapsulation dot1Q 21
ip address 192.168.21.254 255.255.255.0
ip helper-address 192.168.31.3 
no shutdown
exit
interface GigabitEthernet 0/0/0.22
encapsulation dot1Q 22
ip address 192.168.22.254 255.255.255.0
ip helper-address 192.168.31.3 
no shutdown
exit
interface GigabitEthernet 0/0/0.30
encapsulation dot1Q 30
ip address 192.168.30.254 255.255.255.0
no shutdown
exit
interface GigabitEthernet 0/0/0.31
encapsulation dot1Q 31
ip address 192.168.31.254 255.255.255.0
no shutdown
exit
interface GigabitEthernet 0/0/0.99
encapsulation dot1Q 99
ip address 192.168.99.254 255.255.255.0
ip helper-address 192.168.31.3 
no shutdown
exit
end 
write memory