enable
configure terminal
interface GigabitEthernet 1/0/1
switchport mode access
switchport access vlan 20
no shutdown 
exit 
interface GigabitEthernet 1/0/2
switchport mode access
switchport access vlan 21
no shutdown
exit 
interface GigabitEthernet 1/0/3
switchport mode access
switchport access vlan 21
no shutdown
exit 
interface GigabitEthernet 1/0/4
switchport mode access
switchport access vlan 22
no shutdown
exit 