enable 
configure terminal
! Marketing 20
interface Gig1/0/3
switchport mode trunk
switchport trunk allowed 10,20,30,40

! RH 30
interface Gig1/0/4
switchport mode trunk
switchport trunk allowed 10,20,30,40

! Direction 10
interface Gig1/0/5
switchport mode trunk
switchport trunk allowed 10,20,30,40


!seveur DHCP + DNS 
interface Gig1/0/1
switchport mode access 
switchport access vlan 40
!serveur web
interface Gig1/0/2
switchport mode access
switchport access vlan 40
!routeur 
interface Gig1/0/24
switchport mode trunk
switchport trunk allowed 10,20,30,40
